@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the best second hand shop world wide.</h1>
    <br />
    <h2 class="text-center">Statistics</h2>
    <hr />
</div>
<div class="jumbotron" id="statistics">
    <div class="row">
        <h3 class="col-md-4 text-center" id="total-products"></h3>
        <h3 class="col-md-4 text-center" id="total-sellers"></h3>
        <h3 class="col-md-4 text-center" id="total-users"></h3>
        <h3 class="col-md-4 text-center" id="total-purchases"></h3>
    </div>
</div>

@section Scripts{
    <script>
        $.get('/api/statistics', (data) => {
            $('#total-products').text(data.totalProducts + " Products");
            $('#total-sellers').text(data.totalSellers + " Sellers");
            $('#total-users').text(data.totalUsers + " Users");
            $('#total-purchases').text(data.totalPurchases + " Purchases");
        });
    </script>
}
